<ion-header>
  <ion-toolbar>
    <ion-title>Add Todo</ion-title>
    <ion-button slot="start" size="small" routerLinkActive="tab-selected" routerLink="/home">back</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <form [formGroup]="todoForm" (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-label position="floating">Name *</ion-label>
        <ion-input formControlName="name" type="text"  [required]="true"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Description *</ion-label>
        <ion-textarea formControlName="description" aria-required="true" [required]="true">
        </ion-textarea>
      </ion-item>
      <ion-row>
        <ion-col>
          <ion-button type="submit" color="primary" expand="block">Add</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-list>
</ion-content>
