<ion-header>
  <ion-toolbar>
    <ion-title>Done List</ion-title>
    <ion-button *ngIf="todos.length" slot="end" color="danger" (click)="removeTodos()">Delete All</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="todos.length">
  <ion-list *ngFor="let todo of todos; let i = index">
    <ion-item>
      <ion-label [color]="todo.isComplete ? 'success' : 'secondary'">
        <h2><b>{{todo.name}}</b></h2>
        <h3>{{todo.description}}</h3>
      </ion-label>
      <!--<ion-button slot="end" color="secondary" [routerLink]="['/update/', todo._id]">Update</ion-button>-->
      <ion-button slot="end" color="danger" shape="round"(click)="removeTodo(todo, i)">Delete</ion-button>
    </ion-item>
  </ion-list>
</ion-content>

<ion-content *ngIf="!todos.length">
  <ion-item>
    <ion-label [color]="'success'">
      <h1>All done!!</h1>
    </ion-label>
  </ion-item>
</ion-content>
