<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title size="large">To Do List</ion-title>
    <ion-button slot="end" (click)="add()">Add +</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="todos.length">
  <ion-list *ngFor="let todo of todos; let i = index">
    <ion-item [routerLink]="['/update/', todo._id]">
      <ion-label [color]="todo.isComplete ? 'success' : 'secondary'">
        <h2><b>{{todo.name}}</b></h2>
        <h3>{{todo.description}}</h3>
      </ion-label>
      <ion-button slot="end" color="primary" size="small"  shape="round" (click)="doneTodo(todo)">Done</ion-button>
      <!--<ion-button slot="end" color="danger" (click)="removeTodo(todo, i)">Delete</ion-button>-->
    </ion-item>
  </ion-list>
</ion-content>


<ion-content *ngIf="!todos.length">
  <ion-item>
    <ion-label [color]="'primary'">
      <h1>Add new task!!</h1>
    </ion-label>
  </ion-item>
</ion-content>
